name: build

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  frontend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Set up Node 24
        uses: actions/setup-node@v4
        with:
          node-version: '24'
      - name: Fully build frontend code
        run: |
          npm ci
          npm run build
